/*-- scss:defaults --*/

$body-bg: #314D64 ;  /*dark mode background*/

.quarto-title-banner * {
  color: white !important;
}

img.sidebar-logo {
  content:url(darkLogo.png) !important; /* Swaps the image for light/dark */
}

$link-color:    #e6f7ff; /*defines link colors */

// --------------------------specific to dark-mode...------------------------------------
.panel-caption, .figure-caption, .subfigure-caption, .table-caption, figcaption, caption {
    font-size: .9rem;
    color: #F2F2F4 !important;  /* PA limestone extra light for captions on figures */
}

details>summary {
    color: white !important;
}

.breadcrumb {
    --bs-breadcrumb-bg: #314D64 !important;
}

.quarto-title-breadcrumbs .breadcrumb li:last-of-type a {
    color: white  !important;  
}

kbd, .kbd {
    color: black !important;
    background-color: #F2F2F4 !important;  /*PA Limestone extra light*/
    border: .5px solid;
    border-radius: 3px;
    padding: 3px;
    border-color: #F2F2F4;
}

.nav-page .nav-page-text  {
    color: white !important; //color of the navigation links at the bottom of the page
    text-decoration: none;
    display: flex;
    align-items: center;
}

.bi-arrow-right-short::before {
    content: "\f135";
    color: white !important;
}

.bi-arrow-left-short::before {
    content: "\f12c";
    color: white !important;
}


/*-----------------------------HEADERS---------------------------------------------- */

h2, .h2 {
    margin-bottom: 1rem !important;
    margin-top: 3rem !important;
    border-top-style: none;
    border-bottom-color: #F9EDDC  !important;  /*Lion's Roar */
}

hr, .hr {
  display: none !important;
}

h2:not(.minitab_output *), .h2:not(.minitab_output *) {
    margin-top: 3rem !important;
}

h3:not(.minitab_output *), .h3:not(.minitab_output *) {
    margin-top: 3rem !important;
}

h4:not(.minitab_output *), .h4:not(.minitab_output *) {
    margin-top: 2rem !important;
}

.nomargin {
  margin-top: -1.5em;
}

#quarto-header * {
    color: white !important;
}

h1, h2, h3, h4, h5 {
  color: #F9EDDC !important;
}

/*change the auto numbers in front of the headers to white in dark mode */
h2 > .header-section-number, h3 > .header-section-number { 
    color: #F9EDDC !important;
}

/*---------------------------------Header Number - Formats------------------------------*/

/*Put the word 'lesson' before the auto chapter number on the lesson page*/
h1.title >.chapter-number:before {
   content: "Lesson ";
}
  
/*add colon after auto chapter numbering*/
.chapter-number:after {
   content: ":";
}

/*add colon after auto subchapter numbering in the TOC and in the body*/
.header-section-number:after {
  content: ":";

}

/*style the part names in the left nav (lessons, resources, etc..)*/
.text-start > .menu-text {
  font-weight: bold !important;

}

/*-----------------------------------LEFT NAV BAR------------------------------------*/

/*left nav bar background*/
div.sidebar.sidebar-navigation.rollup.quarto-sidebar-toggle-contents, nav.sidebar.sidebar-navigation:not(.rollup) {
    background-color:  #001E44     !important;  /*Nittany navy*/
}

.sidebar-navigation a {
  color: #F2F2F4 !important;  /*PA Limestone extra light*/
}

.active > * > * {
  color: #F9EDDC !important;  /*PA Sky light */
  font-weight: 800 !important;
}

a:hover > * > * { 
  color: #F9EDDC !important;  /*PA Sky light */
}

/*-----------------------------------TOC------------------------------------*/

#TOC * > a.nav-link:hover *:not(i) {
  color: #F9EDDC !important;  /*changes numbering color when hovering in the TOC - PA Sky light */   
}

#TOC * > a.nav-link *:not(i) {
  color: #F2F2F4 !important;  /*changes numbering color when NOT hovering in the TOC - PA Limestone extra light */   
}

#TOC * > a.nav-link:hover {
  color: #F9EDDC !important;  /*changes section title color when hovering in the TOC - PA Limestone extra light */   
}

#TOC * > a.nav-link.active {
  color: #F9EDDC !important;  /*changes section title color when hovering in the TOC - PA Limestone extra light */   
}

#TOC * > a.nav-link.active :not(i) {
  color: #F9EDDC !important;  /*changes section title color when hovering in the TOC - PA Limestone extra light */   
}


.sidebar nav[role="doc-toc"] ul>li>a.active, .sidebar nav[role="doc-toc"] ul>li>ul>li>a.active {
    border-left: 1px solid #F9EDDC !important;
    color: #F9EDDC !important;
}

.sidebar nav[role="doc-toc"] ul > li > a {
  color: #F2F2F4 !important; /*color of lesson titles in TOC -PA Limestone extra light */
}

.sidebar nav[role="doc-toc"] ul > li > a.active {
  color: #F2F2F4  !important;   /*PA Limestone extra light*/
  font-weight: 900 !important;
}


/*-----------------------------LISTS---------------------------------------------- */

ul li {
    margin-bottom: 0.4rem !important; /* spacing after each bullet in a list- adjust the margin as needed */
}

ol li {
    margin-bottom: 0.4rem !important; /* spacing after each bullet in a list- adjust the margin as needed */
}

/*--------------------------------TABLES--------------------------------------------*/

.table-container {
  max-width: 100%; /* Set a maximum width for the container */
  overflow-x: auto; /* Enable horizontal scrolling when the content overflows */
}

tbody, tfoot, tr, td, th  {
      border-bottom: none !important;
      text-align: right ;
 }
 
/*table-sm row height adjust*/
$table-cell-padding-y-sm:     .05rem;
$table-cell-padding-x-sm:     .45rem;

/*general tables*/
 tbody, tfoot, tr, td, th  {
      border-bottom: none !important;
      text-align: right !important;
 }

/*---------------------------CALLOUTS ----------------------------------------------*/

$callout-color-note: #f4f8fc !default; /* defines the light blue callout color */

/*Callout margin left*/

.callout {
  margin-left: 1em;
  font-size: inherit;
}

.callout-body {
   padding-left: 1em !important;
}

/*use for formulas */
.callout-note {
  background-color: #FDFBF5;  /*lion shrine max light*/
  border-left-width: 3px;
  color: black;
  border-left-color: #B88965 !important; /*lion shrine*/

}

.callout.callout-style-simple .callout-body {
    font-size: 1rem !important;
    font-weight: 400 !important;

}

/*callout title sizes*/
.callout.callout-style-simple>div.callout-header {
    border-bottom: none;
    font-size: 1rem !important;
    font-weight: 600;
    opacity: 100%;
}

/*---------------------------TRY IT BLOCKS ----------------------------------------------*/

/*TRY IT BLOCK try it block -after title*/
.tryit {
  margin-top: -1em;
  padding-top: 1em;
  margin-left: .65rem;
  margin-bottom: 2rem;
  padding-left: 1rem;
  border-left-style: solid;
  border-left-color: white;
  border-width: thin;
}

/*------------------------------DEFINITIONS----------------------------------------------*/

.theorem.definition {
  margin-left: 1em !important;
  border-left: solid 1px !important;
  border-left-color: #ffffff !important; //PA Sky
  padding-left: 1em;

  .theorem-title {
   color: #ffffff  ; //PA Slate
   font-size: 19px;
   }
  .theorem-title:after {
   content: "\a";
   white-space: pre;  /*adds a new line after the title*/
  }
}


/*---------------------------------EXAMPLES----------------------------------------------*/



/*Color and icon of example titles*/
.theorem.example {
  border-left: 1.3px solid !important;
  border-left-color: #cfeceb !important; /*PA Creek light*/
  margin-left: .65rem;
  margin-top: 2.5em;
  padding-left: 1rem;

  .theorem-title {
    color: #cfeceb !important; /*PA Creek light 8*/
    
  }
  .theorem-title:before {
    content: "\F17A";
    justify-content: flex-end;
    padding-right: .4em;
    font-family: "bootstrap-icons";
  }
  .theorem-title:after {
    content: "\a";
    white-space: pre;  /*adds a new line after the title*/
  }
}

/* -----------------------------MINITAB BLOCK STYLES-------------------------------- */

.minitab_output {
  margin-left: 2rem;
  margin-bottom: 2rem;
  padding-left: 1rem;
  border-left-style: dashed;
  border-left-color: #dae0e0;

  h3,h4 {
    color: #CCF0FF  !important;
    font-size: 18px;
    font-weight: 600;
    margin-bottom: 2px;
    margin-top: 4px !important;
  }
  
  tbody, tfoot, tr, td  {
      border-bottom: none !important;
      text-align: right !important;
      padding: .75px 7.65px !important;
  }
  
  .table th:first-child, .table td:first-child {
    text-align: left !important;
  }
  
  .table th.special-th {
  text-align: right !important; 
  }
  
  thead, th, .header {
    border-bottom: 1.3px solid white !important;
    text-align: right !important;
    border-top: none !important;
  }
  
  table  {
    caption-side: bottom !important;
    border-bottom: none !important;
    border-top: none !important;
    margin-bottom: 20px !important;
    table-layout: auto !important;
    font-size: 0.875em !important;
  }
  .table-container {
     max-width: 100% !important; /* Set a maximum width for the container */
     overflow-x: auto !important; /* Enable horizontal scrolling when the content overflows */
  }
  
  table colgroup {
    border-top: none !important;
    border-bottom: none !important;
  }

}

/* ------------------------OVERRIDES FOR ALERTS-------------------------------- */

.alert {
  border: none;
  color: #fff
}

.alert a,.alert .alert-link {
  color: #fff;
  text-decoration: underline
}

.alert-default {
  background-color: #6c757d
}

.alert-primary {
  background-color: #2c3e50
}

.alert-secondary {
  background-color: #6c757d
}

.alert-success {
  background-color: #18bc9c
}

.alert-info {
  background-color: #3498db
}

.alert-warning {
  color: #3b444f !important;
  background-color: #fff6cc !important;
  border-color: #fff1b3 !important;
}

.alert-danger {
  background-color: #e74c3c
}

.alert-light {
  background-color: #ecf0f1
}

.alert-dark {
  background-color: #7b8a8b
}

/*---------------------------------Lesson objectives block--------------------------------*/

.objectiveblock {
  border: 1px solid #ddd;
  padding: 15px;
  margin: 15px 0;
  border-radius: 5px;
  background-color: #6A3028   ; // Land-grant
  position: relative;
  color: #ffffff;

  i {
    color: #ffffff; /* Customize the icon color */
    font-size: 24px; /* Adjust the icon size */
    margin-right: 10px; /* Add spacing between the icon and the text */
  }

  .callout-header {
    margin-top: 0; /* Remove default margin for the header */
    font-size: 24px; /* Adjust the header font size */
    font-weight: bold; /* Optionally make the header bold */
    color: #ffffff;
  }
}

/*--------------------------------R and CODE OUTPUT------------------------------*/

/*adjust the space at the top of R output figures*/
.quarto-figure>figure {
    width: 100%;
    margin-bottom: 0;
    margin-top: 0rem !important;
}

/*------------------------------------VIDEO---------------------------------------*/

/*adjust size of video captions */
.quarto-float-vid >*  {
    font-size: 1.2rem;
    color: #EEF3F7;
}

/*------------------------------------Code Blocks---------------------------------------*/

div.sourceCode {
    margin: 1em 0;
    margin-left: .5em !important;
    margin-right: .5em !important;
    font-size: .95em !important;
    background-color: #314D64 !important; //PA Slate
}

/*------------------------------------CUSTOM PER COURSE---------------------------------------*/
