/*-- scss:defaults --*/

.quarto-title-banner * {
  color: white !important;
}

img.sidebar-logo {
  content:url(PSU_Ecosshield.png) !important;
}

$link-color:    rgb(13, 110, 253); /*defines link colors */



/*-----------------------------HEADERS---------------------------------------------- */

h2, .h2 {
    margin-bottom: 1rem !important;
    margin-top: 3rem !important;
    border-top-style: none;
    border-bottom-color: #B88965 !important;  /* Lion Shrine*/
}

hr, .hr {
  display: none !important;
}

h2:not(.minitab_output *), .h2:not(.minitab_output *) {
    margin-top: 3rem !important;
}

h3:not(.minitab_output *), .h3:not(.minitab_output *) {
    margin-top: 3rem !important;
}

h4:not(.minitab_output *), .h4:not(.minitab_output *) {
    margin-top: 2rem !important;
}

.nomargin {
  margin-top: -1.5em;
}

#quarto-header * {
    color: white !important;
}

h1, h2, h3, h4, h5 {
  color: #001e44 !important;
}

/*change the auto numbers in front of the headers*/
h2 > .header-section-number, h3 > .header-section-number {
  color: #001e44 !important;
}

/*---------------------------------Header Number - Formats------------------------------*/

/*Put the word 'lesson' before the auto chapter number on the lesson page*/
h1.title >.chapter-number:before {
   content: "Lesson ";
}

/*add colon after auto chapter numbering*/
.chapter-number:after {
   content: ":";
}

/*add colon after auto subchapter numbering in the TOC and in the body*/
.header-section-number:after {
  content: ":";

}

/*style the part names in the left nav (lessons, resources, etc..)*/
.text-start > .menu-text {
  font-weight: bold !important;

}

/*-----------------------------------LEFT NAV BAR------------------------------------*/

/*left nav bar background*/
div.sidebar.sidebar-navigation.rollup.quarto-sidebar-toggle-contents, nav.sidebar.sidebar-navigation:not(.rollup) {
    background-color: #E4E5E7  !important;  /*PA Limestone Light*/
}

.active > * > * {
  color: #0d6efd !important;
  font-weight: 800 !important;
}

a:hover > * > * {
  color: #0d6efd !important;
}

/*-----------------------------------TOC------------------------------------*/

#TOC * > a.nav-link:hover *:not(i) {
  color: #0d6efd !important;
}

.sidebar nav[role="doc-toc"] ul > li > a {
  color: #314D64  !important;  /*color of lesson titles in TOC - PA Slate*/
}

.sidebar nav[role="doc-toc"] ul > li > a.active {
  color: #0d6efd !important;
  font-weight: 800 !important;
}

/*-----------------------------LISTS---------------------------------------------- */

ul li {
    margin-bottom: 0.4rem !important; /* spacing after each bullet in a list- adjust the margin as needed */
}

ol li {
    margin-bottom: 0.4rem !important; /* spacing after each bullet in a list- adjust the margin as needed */
}

/*------------------------------TABLES---------------------------------------*/

.table-container {
  max-width: 100%; /* Set a maximum width for the container */
  overflow-x: auto; /* Enable horizontal scrolling when the content overflows */
}

 tbody, tfoot, tr, td, th  {
      border-bottom: none !important;
      text-align: right ;
 }
 
 /*table-sm row height adjust*/
$table-cell-padding-y-sm:     .05rem;
$table-cell-padding-x-sm:     .45rem;

/*general tables*/
 tbody, tfoot, tr, td, th  {
      border-bottom: none !important;
      text-align: right !important;
 }

/*---------------------------CALLOUTS ----------------------------------------------*/

$callout-color-note: #f4f8fc !default; /* defines the light blue callout color */

/*Callout margin left*/

.callout {
  margin-left: 1em;
  font-size: inherit;
}

.callout-body {
   padding-left: 1em !important;
}

/*use for formulas */
.callout-note {
  background-color: #FDFBF5;  /*lion shrine max light*/
  border-left-width: 3px;
  border-left-color: #B88965 !important; /*lion shrine*/

}

.callout.callout-style-simple .callout-body {
    font-size: 1rem !important;
    font-weight: 400 !important;

}

/*callout title sizes*/
.callout.callout-style-simple>div.callout-header {
    border-bottom: none;
    font-size: 1rem !important;
    font-weight: 600;
    opacity: 100%;
}

/*---------------------------TRY IT BLOCKS ----------------------------------------------*/

/*TRY IT STYLES try it block -after title*/
.tryit {
  margin-top: -1em;
  padding-top: 1em;
  margin-left: .65rem;
  margin-bottom: 2rem;
  padding-left: 1rem;
  border-left-style: solid;
  border-left-color: #e4a11b;
  border-width: thin;
}

/*------------------------------DEFINITIONS---------------------------------------------*/

.theorem.definition {
  margin-left: 1em !important;
  border-left: solid 1px !important;
  border-left-color: #314D64 !important; //PA Sky
  padding-left: 1em;

  .theorem-title {
   color: #314D64  ; //PA Slate
   font-size: 19px;
   }
  .theorem-title:after {
   content: "\a";
   white-space: pre;  /*adds a new line after the title*/
  }
}

/*---------------------------------EXAMPLES----------------------------------------------*/

/*Color and icon of example titles*/
.theorem.example {
  border-left: 1.3px solid !important;
  border-left-color: #3EA39E  !important; /*PA Creek*/
  margin-left: .65rem;
  margin-top: 2.5em;
  padding-left: 1rem;

  .theorem-title {
    color: #2B5A4C;/*used this dark creen to pass wcag contrast standards*/
    font-size: 22px;

  }
  .theorem-title:after {
  content: "\a";
  white-space: pre;  /*adds a new line after the title*/
  }
  .theorem-title:before {
    content: "\F17A";
    justify-content: flex-end;
    padding-right: .4em;
    font-family: "bootstrap-icons";
  }
}
/* -----------------------------MINITAB BLOCK STYLES-------------------------------- */

.minitab_output {
  margin-left: 2rem;
  margin-bottom: 2rem;
  padding-left: 1rem;
  border-left-style: dashed;
  border-left-color: #dae0e0;

  h3,h4 {
    color: #056eb2 !important;   /*color from the current Minitab web app*/
    font-size: 18px;
    font-weight: 600;
    margin-bottom: 2px;
    margin-top: 4px !important;
  }

  tbody, tfoot, tr, td  {
      border-bottom: none !important;
      text-align: right !important;
      padding: .75px 7.65px !important;
  }

  .table th:first-child, .table td:first-child {
    text-align: left !important;
  }
  
  .table th.special-th {
  text-align: right !important;
  }
  
  thead, th, .header {
    border-bottom: 1.3px solid black !important;
    text-align: right !important;
    border-top: none !important;
  }
  
  table  {
    caption-side: bottom !important;
    border-bottom: none !important;
    border-top: none !important;
    margin-bottom: 20px !important;
    table-layout: auto !important;
    width: auto !important;
    font-size: 0.875em !important;
  }
  
  table colgroup {
    border-top: none !important;
    border-bottom: none !important;
  }

}

/* ------------------------OVERRIDES FOR ALERTS-------------------------------- */

.alert {
  border: none;
  color: black
}

.alert a,.alert .alert-link {
  color: rgb(13, 110, 253);
  text-decoration: underline
}

.alert-default {
  background-color: #6c757d
}

.alert-primary {
  background-color: #2c3e50
}

.alert-secondary {
  background-color: #6c757d
}

.alert-success {
  background-color: #18bc9c
}

.alert-info {
  background-color: #3498db
}

.alert-warning {
  color: #3b444f !important;
  background-color: #fff6cc !important;
  border-color: #fff1b3 !important;
}

.alert-danger {
  background-color: #e74c3c
}

.alert-light {
  background-color: #ecf0f1
}

.alert-dark {
  background-color: #7b8a8b
}

/*---------------------------------Lesson objectives block--------------------------------*/

.objectiveblock {
  border: 1px solid #ddd;
  padding: 15px;
  margin: 15px 0;
  border-radius: 5px;
  background-color: #f9f9f9;
  position: relative;

  i {
    color: #2779B0; /* Customize the icon color */
    font-size: 24px; /* Adjust the icon size */
    margin-right: 10px; /* Add spacing between the icon and the text */
  }

  .callout-header {
    margin-top: 0; /* Remove default margin for the header */
    font-size: 24px; /* Adjust the header font size */
    font-weight: bold; /* Optionally make the header bold */
    color: #001e44;
  }
}

/*--------------------------------R and CODE OUTPUT------------------------------*/

/*adjust the space at the top of R output figures*/
.quarto-figure>figure {
    width: 100%;
    margin-bottom: 0;
    margin-top: 0rem !important;
}

/*------------------------------------VIDEO---------------------------------------*/

/*adjust size of video titles */
.quarto-float-vid >*  {
    font-size: 1.2rem;
    color: #5a6570;
}

/*------------------------------------Code Blocks---------------------------------------*/

div.sourceCode {
    margin: 1em 0;
    margin-left: .5em !important;
    margin-right: .5em !important;
    font-size: .95em !important;
    background-color: #F2F2F4 !important;  //PA Limestone Max Light
}

/*------------------------------------CUSTOM PER COURSE---------------------------------------*/






